@import './base.css';
@tailwind base;
@tailwind components;
@tailwind utilities;



a,
.green {
  text-decoration: none;
  /* color: hsla(160, 100%, 37%, 1); */
  color: #162950;
  transition: 0.4s;
}

@font-face {
  font-family: tangyuan;
  src: url("./fonts/猫啃网糖圆体0.12.ttf")
}

.fff {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.select-box {
  border: 1px solid #909090;
  height: 44px;
  border-radius: 2px;
  padding: 10px;
  background: #fff;
}

.plainText {
  font-size: 1.1rem;
  color: #797880;
}

.blackbutton {
  border: none;
  /* height: 44px;
  min-width: 80px; */
  border-radius: 2px;
  background: #697880;
  color: #fff;
  font-weight: bold;
  padding: 15px 25px;
}